// resizing possible icons on navigation bar
.navbar{
	// leaves no space below the navigation bar.
	margin-bottom: 0;
	.fa
	{
		font-size: 60px;
	}
}

/*
#navbar{
	a{
		//border-radius: 25px;
		//margin-top: 15px;
		//margin-left: 5px;
		//margin-right: 5px;
		padding: 20px 20px 20px;
	}
}
*/

.showcase{
	// +px moves picture to the right. -px moves picture up.
	background: url(../img/showcase2.jpeg) no-repeat 0 0;
	height: 510px;
	padding: 20px 0;
	h1{
		font-size: 50px;
	}
	
	.container{
		background: #fff;
		//height: 470px;
		opacity: 0.8;
		padding: 20px 30px 30px;
	}
}

.panel-heading h4{
	color: set-text-color($main-color);
}

.main{
	height:397px;
}

.reg-main{
	margin-top: 30px;
}

footer{
	padding: 15px 0;
	text-align: center;
	background: darken($main-color, 10%);
	color: set-text-color($main-color);
}

.title-bar{
	background: url(../img/showcase2.jpeg) no-repeat 0 0;
	padding-bottom: 10px;
	border-bottom: 4px solid $main-color;
}

.main{
	margin-top: 30px;
}